modules/sub_minute_iterator/step_functions/sub-minute-iterator.asl.json
{
  "Comment": "Invoke Lambda every 10 seconds",
  "StartAt": "ConfigureCount",
  "States": {
    "ConfigureCount": {
      "Type": "Pass",
      "ResultPath": "$.iterator",
      "Next": "Iterator"
    },
    "Iterator": {
      "Type": "Task",
      "Resource": "${iterator_lambda_function_arn}",
      "Next": "IsCountReached",
      "ResultPath": "$.iterator"
    },
    "IsCountReached": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.iterator.continue",
          "BooleanEquals": true,
          "Next": "Wait"
        }
      ],
      "Default": "Done"
    },
    "Wait": {
      "Type": "Wait",
      "Next": "Iterator",
      "SecondsPath": "$.iterator.second"
    },
    "Done": {
      "Type": "Pass",
      "End": true
    }
  }
}